:root {

    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

}


.card {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex: 1 2;
    gap: 1rem;
}

#prices {
    display: flex;
    gap: 2rem;
}

#add-cart {
    background: green;
    display: flex;
    gap: 2rem;
}


body {
    background-color: cream;
}