@font-face {
    font-family: Roboto-Regular;
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("assets/fonts/Roboto-Bold.ttf");
}

body {
    background: hsl(234, 29%, 20%);
}


#sign-up-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    /*padding-left: 240px;*/
    width: 1000px;
    /*padding-right: 10px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
}

#information {
    margin-left: 50px;
}

h1 {
    font-family: "Roboto-Regular";
    font-size: 50px;
}

h2 {
    font-family: "Roboto-Regular";
    font-size: 16px;
}

li {
    list-style-image: url(assets/images/icon-list.svg);
    margin: 10px 0px;
    font-family: "Roboto-Regular";
    font-size: 16px;
}

#email-div {
    font-family: "Roboto-Bold";
    font-size: 12px;
}

input[type=button]{
    background-color:hsl(234, 29%, 20%);
    color: white;
    font-family: "Roboto-Regular";
    width: 400px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
}

#email-addr {
    width: 390px;
    height: 40px;
    border-radius: 5px;
}


#success-message-card {
    visibility: hidden;
    background: white;
    display: none;
}



