body {
    margin-right: 157px;
    margin-left: 157px;
    margin-top: 100px;
    font-family: Arial;
}


#nav-bar {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    column-gap: 3rem;
    list-style: none;
}

#main-area{
    /*display: flex;*/
    /*margin-top: 2rem;*/
    /*justify-content: space-between;*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


#main-content-image {
    /*height: 295px;*/
    /*width: 736px;*/
    width: 100%;
}

#main-area-text{
    width: 100%;
    display: grid;
    grid-template-columns: .33fr .67fr;
}

#main-secondary-area {
    margin-left: 30px;
    display: grid;
    grid-template-rows: 0fr 1fr 1fr 1fr;
    background-color: hsl(240, 100%, 5%);
    padding-left: 40px;
    padding-right: 40px;
    text-wrap: normal;
    color: hsl(36, 100%, 99%);
}

#last-row-content {
    display: flex;
    justify-content: space-around;
}

.last-row-post {
    /*display: grid;*/
    /*grid-column-template: 1fr 1fr;*/
    display: flex;
    margin-right: 40px;
}

.last-row-post-image {
    width: 104px;
    height: 135px;
    margin-right: 10px;
}


.main-secondary-area-post {
    border-style: none none solid none;
}

.main-secondary-area-post:last-child {
    border-style: none;
}

h1 {
    font-size: 4rem;
}

#main-area-content {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px
}


button {
    color: white;
    background: hsl(5, 85%, 63%);
    border: none;
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
}

#new-header {
    color: hsl(35, 77%, 62%);
    font-size: 3rem;
}

.secondary-post-title {
    font-size: 2rem;
}

.row-post-number {
    font-size: 2rem;
    color: hsl(233, 8%, 79%);
}

.row-post-title{
    font-size: 18px;
    font-weight: bold;
}
